{
    "executionRoleArn": "{OVERWRITE_TASK_EXECUTION_ROLE_ARN}",
    "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
            "awslogs-group": "/ecs/cohabi-stg-task-def",
            "awslogs-region": "ap-northeast-1",
            "awslogs-stream-prefix": "ecs"
        }
    },
    "containerDefinitions": [
        {
            "portMappings": [
                {
                    "hostPort": 8000,
                    "protocol": "tcp",
                    "containerPort": 8000
                }
            ],
            "image": "hoge",
            "name": "cohabi-stg-container"
        }
    ],
    "placementConstraints": [],
    "memory": "512",
    "taskRoleArn": null,
    "family": "cohabi-stg-task-def",
    "requiresCompatibilities": [
        "FARGATE"
    ],
    "networkMode": "awsvpc",
    "cpu": "256"
}